<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <httpPlatform stdoutLogEnabled="true" stdoutLogFile="rails.log" startupTimeLimit="20"
                  processesPerApplication="1"
                  processPath="C:\Ruby23-x64\bin\ruby.exe"
                  arguments="&quot;C:\Ruby23-x64\bin\rails&quot; server puma -p %HTTP_PLATFORM_PORT% -b 127.0.0.1">
            <environmentVariables>
                <environmentVariable name="RAILS_ENV" value="production"/>
                <environmentVariable name="RAILS_RELATIVE_URL_ROOT" value="/dimachem"/>
                <environmentVariable name="SECRET_KEY_BASE" value="7f2757b12ae8440f5d159584e58a6ba995068c9d6da78317ec03cb2bb5bed660f0f16a4293ff57686249394a8e3cb17e0f4e96cb122a7e2d054daec97d868b85"/>
                <environmentVariable name="RAILS_SERVE_STATIC_FILES" value="true"/>
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>
